<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetPath)" #>
<#@ assembly name="$(ProjectDir)bin\SurveyApp.Model.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".js" #>

define("typeMetadata", function () {
    return <#= SurveyApp.Web.Codegen.JsMetadataGenerator.Generate() #> 
});
